.login-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../images/img-bg-login.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  height: 100vh;
}

.logo-login {
  margin-bottom: 50px;
  height: 150px;
}

.user-bg {
  background-image: url("../../images/icon-login.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 20px;
}

.password-bg {
  background-image: url("../../images/icon-key.png");
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 20px;
}
